
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #468189;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}
#right{
  float:right;
}
li a:hover {
  background-color:#111;
}
p {
  padding-right: 30px;
  font-size: 21px;
}

img{
  float:right;

}


  
}
.button {
    background-color: #6D435A;
    border: none;
    color: white;
    padding: 30px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top:3%;
    margin-left:33%;
  }
.button:hover{
  background: #00332E;
}
.form2{
  margin-left: 33%;
  color: blue;
}
