
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0066ff;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}
#right{
  float:right;
}
li a:hover {
  background-color:#111;
}
p {
  padding-right: 30px;
  font-size: 21px;
}

img{
  float:right;
  margin-bottom: 20px;
}
input[type='text']{
  color : blue;
  padding-right: 80px;
}
