Skip to content
 
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 @ah3311and55
Sign out
 Watch 0
 Star 0  Fork 0 ah3311and55/myfinalproject
 Code  Issues 0  Pull requests 0  Projects 0  Wiki  Insights  Settings
Tree: 69b385fa64 Find file Copy path myfinalproject/static/css/style.css
69b385f  31 minutes ago
@ahmaddumaidi ahmaddumaidi updates
2 contributors @ahmaddumaidi @subhiawwad
RawBlameHistory    
Executable File  114 lines (101 sloc)  1.41 KB
.h1{
  margin-left:40px;
}
p{
  margin-left:40px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #468189;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}
#right{
  float:right;
}
li a:hover {
  background-color:#111;
}
p {
  padding-right: 30px;
  font-size: 21px;
}

img{
  float:right;
}

a.button {
    background-color: #6D435A;
    border: none;
    color: white;
    padding: 30px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top:3%;
    margin-left:37%;
  }

a.button:hover{
  background: #00332E;
}
.form2{
  text-align:center;
  font-size:20px;
  margin-top:150px;


}
#title{
  text-align:center;
  margin-top: 7%

}
.form3{
   text-align:center;
  font-size:20px;
  margin-top:150px;
  color:#468189; 
}
.form4{
     text-align:center;
  font-size:20px;
  margin-top:70px;
  color:#468189;
  padding:70px 80px; 
}
.register_button{
    text-align:center;
  font-size:20px;
  color:#468189;
  padding:70px 80px;
 /* margin-bottom:150px;
*/
}
#poll{
  text-align:center;
  font-size:20px;
  color:#468189;
  padding:70px 80px;

}
.pol2{
  text-align:center;
  font-size:20px;
  color:#468189;
  padding:70px 80px;
  
}

body {
  background-image: url('../images/food4.jpg');
}
#text{
   text-align:center;
  font-size:20px;
  color:#468189;
  padding:220px 200px;
}

/*#img1{
  width:50%;
  height:30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
*/