{% extends "base.html" %}

{% block body %}
<html>
<head>
  <ul class="form7">
    <li><a href="/form">Back</a></li>


  </ul>
<script>

function getVote(int) {
  if (window.XMLHttpRequest) {
    
    xmlhttp=new XMLHttpRequest();
  } else {  // code for IE6, IE5
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
  xmlhttp.onreadystatechange=function() {
    if (this.readyState==4 && this.status==200) {
      document.getElementById("poll").innerHTML=this.responseText;
    }
  }
  xmlhttp.open("GET","poll_vote.php?vote="+int,true);
  xmlhttp.send();
}
</script>
</head>
<body>

<div id = "poll">

{% if message %}
<h1>{{message}}</h1>
{% endif %}
<h3>BreakFast</h3>
<form action="/submitvote" method="POST" >
Omelette:
<input type="radio" name="vote" value="Omelette">
<br>Falafel:
<input type="radio" name="vote" value="Falafel">
<input type="hidden" name="form_id" value=1>
<input type="submit" value="submit"> <br> <br> <br>
</form>
<h3>Launch</h3>
<form action="/accebtvote" method="POST">
Chicken and rice:
<input type="radio" name="vote" value="Chicken and rice">
<br>Pasta:
<input type="radio" name="vote" value="pasta">
<input type="hidden" name="form_id" value=2>
<input type="submit" value="submit"> <br> <br> <br>

</form>
<h3>Dinner</h3>
<form>
Chicken Sandwich:
<input type="radio" name="vote" onclick="getVote(this.value)">
<br>Hamburger:
<input type="radio" name="vote" onclick="getVote(this.value)">
<input type="hidden" name="form_id" value=3>
<input type="submit" value="submit"> 
</form>
</div>

</body>
</html> 
{% endblock %}