{% extends "base.html" %}

{% block body %}
<html>
<head>
<script>
function getVote(int) {
  if (window.XMLHttpRequest) {
    
    xmlhttp=new XMLHttpRequest();
  } else {  // code for IE6, IE5
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
  xmlhttp.onreadystatechange=function() {
    if (this.readyState==4 && this.status==200) {
      document.getElementById("poll").innerHTML=this.responseText;
    }
  }
  xmlhttp.open("GET","poll_vote.php?vote="+int,true);
  xmlhttp.send();
}
</script>
</head>
<body>

<div class="pol2">
<h3>BreakFast</h3>
<form>
Manaqeesh:
<input type="radio" name="vote" onclick="getVote(this.value)">
<br>Pancakes:
<input type="radio" name="vote" onclick="getVote(this.value)">
<input type="submit" value="submit"> <br> <br> <br>
<h3>Launch</h3>
<form>
Mansaf:
<input type="radio" name="vote" onclick="getVote(this.value)">
<br>Msakhan:
<input type="radio" name="vote" onclick="getVote(this.value)">
<input type="submit" value="submit"> <br> <br> <br>
<h3>Dinner</h3>
<form>
BBQ:
<input type="radio" name="vote" onclick="getVote(this.value)">
<br>Shawerma:
<input type="radio" name="vote" onclick="getVote(this.value)">
<input type="submit" value="submit">
</form>
</div>

</body>
</html> 
{% endblock %}