{% extends "base.html" %}

{% block body %}





<h1>code for palestine</h1>
<img src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjI0XkJN3p73oOBkYEtYakjACugNGlT-liVo925Kc7yLAfuIYK">

<p> Code for Palestine was born in 2015 out of a desire to teach coding and entrepreneurial<br> skills to some of the brightest high school students throughoutthe West Bank and Gaza Strip.<br> The organization funding the initiative,10th grade and concluding after 12th grade.<br>  Each year has many in-person sessions but is kicked off by a two-week camp held <br>during the summer.  Volunteer undergraduate instructors from Stanford University<br> have served as the primary teachers during the two-week summer camp.</p>
<br> <br> <br> <br> <br> <br>
<h1>about the website</h1>
<p> This website is for use by the students, staff, and intructors of 'Code for Palestine'<br>, The people of 'Code for Palestine' have been struggling with the cafeteria food.<br> I decided to make a voting website so the people of 'Code for Palestine'<br> can vote for their preferred food.This will allow the majority of people to eat foods they like. </p>


<!-- TODO: implement home page. -->

{% endblock %}