<html>
<head>

<link rel="stylesheet" type="text/css" href="../static/css/style.css" />
<title>Login We Code </title>
</head>
<title>My Final Project</title> 
  <ul>
    <li><a href="/home">Back</a></li>






<!-- TODO: add more links on the navigation bar here -->
  </ul>
<body>
<img id="logo" src="{{ url_for('static', filename='images/we_code.png') }}"> 

{% if error %}
	<p> {{error}}</p>
{% endif %}    
<div class="form4">
<h1 class="headers"> Login </h1>
<form class="login" action="/login" method="POST">
    <b >Username:</b> <br>
    <input type="text" name="userName"><br>
    <b >Password:</b><br>
    <input type="password" name="password"><br>
    <input class="submit"type="submit" value="submit">

</form>
<div>
<div class="register_button">
<p class="login"> New user? Please register here </p>
<a href="/register"> <button class="login">Register</button></a>
</div>
</body>
</html>