<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/css/style.css" />
<title>Login We Code </title>
</head>
<body>
<img id="logo" src="{{ url_for('static', filename='images/we_code.png') }}"> 
<h2 class="headers"> Login </h2>
{% if error %}
	<p> {{error}}</p>
{% endif %}    
<form class="login" action="/login" method="POST">
    <b >Username:</b> <br>
    <input type="text" name="userName"><br>
    <b >Password:</b><br>
    <input type="password" name="password"><br>
    <input class="submit"type="submit" value="submit">

</form>
<p class="login"> New user? Please register here </p>
<a href="/register1"> <button class="login">Register</button></a>

</body>
</html>