<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/css/style.css" />
<title>Login We Code </title>
</head>
<body>
<img id="logo" src="{{ url_for('static', filename='images/we_code.png') }}"> 
{% if error %}
    <p>{{error}}</p>
{% endif %}        
<!-- <h1 class="headers">Register</h1> -->
<div class="form3">
  <h1>Register here </h1>
    <b>UserName:</b> <br>
<form class="login" action="/newAccount" method="POST">
    
    <input type="text" name="userName" required><br>
    <b>Password:</b><br>
    <input type="password" name="password" required><br><br>
    <input type="submit" value="Register">
</form>
</div>
<a href="/"> <button>Cancel</button></a>


</body>
</html>

Message Input

Message @AHMAD DUMA