{% extends "base.html" %}

{% block body %}
<h1>Register Page</h1>
<div class="form2">
<form action="/form" method="POST">
  First name:<br>
  <input  type="text" name="firstname"><br>
  Last name:<br>
  <input  type="text" name="lastname">
  <br>Gender:<br>
  <input  type="radio" name="gender" value="male" checked> Male<br>
  <input  type="radio" name="gender" value="female"> Female<br>
  
  <input type="radio" name="gender" value="other"> Other
  <input type="text"  name="message">
  <input type="submit" value="submit">

</form>
</div>
<!-- TODO: implement register page -->

{% endblock %}