{% extends "base.html" %}

{% block body %}

<html>
<head>
<script>
function getVote(int) {
  if (window.XMLHttpRequest) {
    
    xmlhttp=new XMLHttpRequest();
  } else {  // code for IE6, IE5
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
  xmlhttp.onreadystatechange=function() {
    if (this.readyState==4 && this.status==200) {
      document.getElementById("poll").innerHTML=this.responseText;
    }
  }
  xmlhttp.open("GET","poll_vote.php?vote="+int,true);
  xmlhttp.send();
}
</script>
</head>
<body>

<div id="poll">
<h3>What food do you prefer</h3>
<form>
Corn:
<input type="radio" name="vote" onclick="getVote(this.value)">
<br>Hummos:
<input type="radio" name="vote" onclick="getVote(this.value)">
<input type="submit" value="submit">
</form>
</div>

</body>
</html> 
{% endblock %}