
{% extends "base.html" %}
{% block content}

<pre class="th3"> I am ahmad dumaidi I am from nablus and I study in the Holy Quran academy
 I have tew sisters and one brother my favorite sport is footbal
 and this website is goint to tell ypu about me 
 and give you enough information to know me well</prI am ahmad dumaidi I am from nablus and I study in the Holy Quran academy
 I have tew sisters and one brother my favorite sport is footbal
 and this website is goint to tell ypu about me 
 and give you enough information to know me welle>
{% endblock %}
