<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='home-css.css') }}">
		<!-- Used to be: <link -->
	</head>
	<body>
			<div class="container">

	<nav>
	<ul class"nav">
	<li><a href="file:///home/code/Desktop/Untitled%20Folder%203/mypage.html#">Home</a></li>
	<li><a href="file:///home/code/Desktop/Untitled%20Folder%203/aboutme.html#">about me</a></li>
	<li><a href="">hobbies</a></li>
	</ul>

	
</nav>
</div>

{% block content %}
{% endblock %}
	</body> 
</html>


Add CommentCollapse 
Message Input

Message #y2bcs

Files

