<!DOCTYPE html>
<html>
<head>        
	<meta charset="utf-8">
	<title>Ahmad dumaidi</title>
	<link rel="stylesheet"type="text/css" href="mypage.css">
</head>
<body>
	<!-- <p> Today's date is:
		{{tadays date}}</p> -->
		<button>click me!</button>
		First value of array:
		{{numberArray[0]}}
	<ul>
		{%for n in numberArray%}
		<li>{{n}}</li>
		{%endfor%}
	</ul>
	<header>
		<div class="container">

	<nav>
	<ul class"nav">
	<li><a href="file:///home/code/Desktop/Untitled%20Folder%203/mypage.html#">Home</a></li>
	<li><a href="file:///home/code/Desktop/Untitled%20Folder%203/aboutme.html#">about me</a></li>
	<li><a href="">hobbies</a></li>
	</ul>

	
</nav>
</div>
</header>
<pre class="th3"> I am ahmad dumaidi I am from nablus and I study in the Holy Quran academy
 I have tew sisters and one brother my favorite sport is footbal
 and this website is goint to tell ypu about me 
 and give you enough information to know me well</pre>
</body>
</html>